name: Build and Publish Docker Image Stable

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publich Docker
      uses: elgohr/Publish-Docker-Github-Action@2.9
      with:
        name: fwa-sempach/fwa-backend-sempach/fwa-backend-sempach:stable
        # The login username for the registry
        username: ${{ secrets.DOCKER_USERNAME }}
        # The login password for the registry
        password: ${{ secrets.GITHUB_TOKEN }}
        # Use registry for pushing to a custom registry
        registry: docker.pkg.github.com
    
